[2018-06-14 10:46] cduch opened #244 ""import PAM" in auth.py fails on OpenSUSE leap 15"
"import PAM" in auth.py fails on OpenSUSE leap 15.
I don't know if this is intended, but in auth.py it says "import PAM" instead of "import pam".
The result is that the import fails because the lib to import is named lowercase on OpenSUSE leap 15.

Solved it with creating a symlink but should be check if uppercase or lowercase is the right naming of the lib.

[2018-06-26 00:13] abdulhadad commented on #244
Same problem as me. I found that Wok depend on [pypam](https://github.com/kimchi-project/wok/blob/master/contrib/wok.spec.suse.in#L14) but pypam [not available](https://software.opensuse.org/package/python-pam) on leap 15.

My solution are install pypam binary from leap 42:
[code]

[2018-07-14 23:40] DocMAX opened #245 "Can't run wokd"
[code]

[2018-07-15 00:10] chr0mag commented on #245
This is seen on Archlinux after upgrading from _python2-tempora_ to 1.13-1 . Downgrading to 1.12-1 works around this for now.

[2018-07-15 00:14] DocMAX commented on #245
thank you, it works with the downgrade

[2018-07-15 00:14] #245 closed

[2018-07-15 03:55] chr0mag commented on #245
I'd leave this open actually. The downgrade is only a workaround. A modification to support the updated package is still in order.

[2018-07-22 21:03] BrianAllred opened #246 "How do I specify SSL cert?"
I've tried `ssl_cert=/path/to/cert` as well as `cert_pem=/path/to/cert` in wok.conf, to no success.

Any advice?

[2018-07-22 21:15] BrianAllred commented on #246
Figured it out.

[2018-07-22 21:15] #246 closed

[2018-08-07 21:33] ClydeVanDusen opened #247 "Unable to access WoK User Activity Log as a non-root user"
I'm trying to login to kimchi with root.    After I enter root and root's password at the login page, is quickly redirected to https://kvmhost:8001/#wok-empty
and this error pops up for a split second.  Took me around a dozen login attempts to figure out what it said.

I installed the latest el7 rpm's and their dependencies for CentOS 7
wok-2.5.0
kimchi-2.5.0
ginger
ginger-base
Kimchi and ginger p

[2018-08-09 16:20] evansharp commented on #246
@BrianAllred Can you provide more details on your solution? What exactly did you symlink from where to where?

[2018-08-21 14:29] Timi7007 opened #248 "Ubuntu 18.04 install requires fonts-font-awesome"
I just tested the current (2.5.0) release on Ubuntu 18.04 and the "ubuntu-deps.md" list seems to be missing `fonts-font-awesome`.
Can anyone confirm this issue?

[2018-08-21 17:50] im0nKeY84 opened #249 "Missing rights for wok"
Hi,

I've got a little problem with wok, gingerbase and kimchi. It seem's to be problem with user rights:

[code]

I'm using the git source from 1 week ago. The problem occurred after I tried to bind the VM Host to a domain and a apt update & apt upgrade.

Looks like wok has problems to get the system information to display. I can only see a few tabs of ginerbase and kimchi.

Can someone help me h

[2018-08-28 12:49] inquirerguy opened #250 "Cant add storage for Template at Kimchi"
I cant add storage for my template, this is to actually create template. there were no errors from logs but I keep on clicking add storage from the edit tab for template but to no avail.

[2018-08-28 12:52] inquirerguy commented on #250
The only i get is KCHTMPL0033E: Parameter 'disks' requires at least one disk object since i cant add any storage device. though i can fully create a guest vm.

[2018-08-31 11:20] JoseGoncalves opened #251 "_events_handler() takes exactly 6 arguments (5 given)"
I've recently noted the appearance of a lot of the following log messages from a wokd running on Debian 9.
[code]
Some kind of Python API change related problem?
Debian 9 uses Python 2.7.13 and libvirt 3.0.0.

[2018-09-27 09:16] random-robbie commented on #248
confirmed this morning for me.

[2018-09-27 09:17] random-robbie commented on #248
[code]

[2018-10-08 05:14] morecool opened #252 "attach new disk size unit error"
![image](https://user-images.githubusercontent.com/9711761/46593134-66372d80-cb04-11e8-8544-3c72befa61d7.png)

disk size unit guided GB

but it's work KB.
plz check this.

[2018-11-01 15:38] eliyahu77 opened #253 "no license in kimchi project"
cannot found license in this project , all the project is open source ?

[2018-11-05 20:32] skywind3000 opened #254 "Enable to modify xml files on the web"
I am using webvirtmgr, and willing to switch to kimchi because kimchi supports HTTPS.

But one thing stops me is that kimchi doesn't allow me to modify xml files in the web.

I need modifying xml file because:
- add password to vnc
- set autoport to vnc
- add 9p share folders between host & guest os.

Could kimchi supports them ?

[2018-11-20 18:37] bit-bat commented on #229
I used the .deb file to install and having same issue that pem file is not found by nginx. I don't have the source. Where can I find this src/wokd?

Starting wokd from /use/bin doesn't create the pem file.

[2018-11-21 18:56] duper51 commented on #253
I believe the license is in all of the source files themselves, I've noticed it on occasion if you'd like to look!

[2018-11-21 19:17] duper51 commented on #248
I believe 18.04 is broken on the builds currently, since the Kimchi project is also having similar issues with the renaming of `python-imaging` to `python-pil` between Ubuntu versions. I'm looking into making a PR that fixes it in both areas. In the meantime, you can try modifying the instructions [https://github.com/kimchi-project/kimchi/issues/1246#issuecomment-423709949](here) to try and edit t

[2018-12-07 13:20] ochbob opened #257 "Already own nginx installed, how can I do ?"
Hi,

I would like to install wok/kimchi, but I already have my own nginx server in /opt/nginx/

How can I do to install Wok without nginx ?

What configuration should I move to my nginx folder ?
Only Nginx conf : "wok.conf" from wok ? and adapt configuration file to my system ?

Thnak you :)

[2018-12-13 10:28] wintermute000 opened #258 "Wok.d service won't start after update (Ubuntu 16)"
Not sure how it happened, but at some stage, wokd.service stopped starting. All dependencies are installed and it WAS all working formerly. Ubuntu 16.04
[code]

[2018-12-13 10:30] wintermute000 commented on #258
# dpkg -l *six
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name                                         Version                     Architecture                Description
+++-============================================-===========================-===========

[2018-12-23 16:54] t0k4rt opened #259 "Change localhost access only behavior"
Hello,
I'm working in an environment where it could be very usefull to get access to Kimchi from other ip than 127.0.0.1.
is it possible to add an option to allow 0.0.0.0 access top kimchi ?
Would a PR would be accepted or appreciated to deal with that ?
thanks !
[code]

[2019-01-16 19:46] saulhuerta commented on #257
Hello, remember there is a config file por Wok in Nginx path's:

/etc/nginx/conf.d/wok.conf  (...in CentOS)

You can add some config there or add another config file for your project.   In my case, I added another configuration in wok.conf file and all is ok.

Regards

[2019-01-24 04:06] TuanThai opened #260 "Working with no sudo rights"
Hello all,

Can we use Kimchi to manage KVM with non-sudo users? Kimchi is working perpecfly in my system with sudo users. However, when I log in with a non-sudo user, there's no Wok tab and the Guests tab show "No guests found."

Thank you,
Tuan

[2019-02-15 06:04] genewitch opened #261 "webui becomes slower over time"
There seems to be a point of "available guests" - around 12 - where the webui starts to slow down. switching from templates to guests tab can take upwards of 60 seconds on a local wok install, and for some reason, if the wok install is remote, it can take so long that the session times out before anything comes up.

my local wok is a 40 core system that is generally under 15% load, and the remote

[2019-03-13 13:10] felimwhiteley commented on #224
In case this is of use to anyone, after dpkg -i the two debs then running apt install -f it still hadn't created the certificates. But the postinst scripts actually contain the command but were not run. Simply running:

`sudo sudo /var/lib/dpkg/info/wok.postinst`

Created them.

[2019-04-19 23:39] alinefm commented on #260
Hi @TuanThai !

You can give user access to the virtual machines you want non-sudo users to access.
Select the VM > Edit VM > Permission tab and select users and/or groups you want to access this specific VM.

Yes, you need to do that for all the VMs you want others to access.

I hope that is enough for your use case.

[2019-04-19 23:42] alinefm commented on #259
Hi @t0k4rt!

You should be able to access Kimchi using the real IP instead of 127.0.0.1. Maybe your nginx configuration is missing something. Could you check how is that? And if it looks like https://github.com/kimchi-project/wok/blob/master/src/nginx/wok.conf

[2019-04-19 23:45] alinefm commented on #258
Hi @wintermute000!

Usually I test Kimchi on the latest Ubuntu version. I will install a VM to give it a try.

In the main time, any reason to do not update it to Ubuntu 18.04 (LTS) ?

[2019-04-19 23:47] alinefm commented on #257
Hi @ochbob!

As @saulhuerta pointed out, you only need the https://github.com/kimchi-project/wok/blob/master/src/nginx/wok.conf to make it working with your existing nginx server.

[2019-04-19 23:48] alinefm commented on #254
Hi @skywind3000 !

It would be a great nice feature to add to Kimchi. For sure, we can support it.

Do you want to contribute on that?

[2019-04-19 23:51] alinefm commented on #253
The licenses are available at the source code main level:

For wok, please, check:

https://github.com/kimchi-project/wok/blob/master/COPYING
https://github.com/kimchi-project/wok/blob/master/COPYING.ASL2
https://github.com/kimchi-project/wok/blob/master/COPYING.LGPL

For Kimchi:

https://github.com/kimchi-project/kimchi/blob/master/COPYING
https://github.com/kimchi-project/kimchi/blob/master/COPY

[2019-04-19 23:51] #253 closed

[2019-04-19 23:52] alinefm commented on #252
Thanks for reporting! I will check it again but I thought it was already fixed. Which Kimchi version you using?

[2019-04-19 23:53] alinefm commented on #251
Thanks for reporting! I will take a look.

[2019-04-19 23:54] alinefm commented on #250
Hi @inquirerguy !

Could you provide more details on which Kimchi version are you using and also which browser ?

[2019-04-19 23:56] alinefm commented on #249
Hi @im0nKeY84 !

From what you sent, I see your system is missing `augeas` package.

`Failed to import plugin plugins.ginger.Ginger, error: No module named augeas`

[2019-04-20 00:01] alinefm commented on #247
Hi @ClydeVanDusen !

Could you confirm it only happen while accessing the Activity log page?

[2019-04-20 00:05] #238 closed

[2019-04-20 00:20] alinefm commented on #261
Hi @genewitch

Could you give my details on your setup? Which Kimchi version are you using and browser?

[2019-04-23 08:50] t0k4rt commented on #259
thanks for your answer, I'll check that !

[2019-04-23 11:57] t0k4rt commented on #259
thanks for your answer, I'll check that !

[2019-04-23 11:57] #259 closed

[2019-05-10 02:00] brizao commented on #260
Hi,

If I use the latest version of branch master, Guests tab also shows "No guests found" even if I'm logged with root. The log shows:

wokd[24374]: ERROR:cherrypy.error:Problem in lookup of resource 'debian9'. Detail: No section: 'kimchi'

But if I use the stable 2.5.x version (kimchi and wok), it works normally, I don't know if that's the cause, using different versions...

[2019-05-22 13:22] ochbob commented on #257
But when installing wok package, nginx is required and I havent installed nginx from package management.
And I do not want install nginx from package management.

[2019-05-22 19:43] alinefm commented on #257
So I don't think there is any other solution unless you don't install Wok and Kimchi using package management. Get the code and install it manually.

[2019-05-23 11:44] ochbob commented on #257
That is what I'm thinking about.

So I finally install the nginx package and move my old nginx installation.
When i tried to install the wok's dependencies, I have some issue with pyhton3-pam and python3-ldap
As i'm running Debian and not Ubuntu I think it's not the same package (those package does not exist on Debian Stretch)

What package should I install instead ?

[2019-05-31 01:05] vrk5398 opened #262 "Module Not Found 'PAM'"
Hello
I have installed all the [packages](https://github.com/kimchi-project/wok/blob/master/docs/fedora-deps.md) required to install and run Wok. But, when I run the command "$ sudo python src/wokd"
it throws the error related to PAM. I have installed python-pam but also getting this error.
Can you please help me resolve this?
OS - RHEL 8 | Python Version - 3.6.8

Thank You.

![Screenshot from 201

[2019-05-31 20:09] alinefm commented on #262
Hi @vrk5398

Do you have python3-pam installed in your system?

[2019-05-31 20:56] vrk5398 commented on #262
hie @alinefm
When I try to run '# pip3 install python3-pam' it throws an error "No matching distribution found for python3-pam" . Check out the screenshot.
![Screenshot from 2019-06-01 02-25-49](https://user-images.githubusercontent.com/34321229/58734258-96756880-8414-11e9-820d-d1112530be57.png)

[2019-06-02 06:35] the-maldridge opened #263 "Version 3.0?"
I'd like to package Wok and Kimchi for Void Linux.  To do this I will need to pull the code from a tagged release, there are several releases already, but with only 6 months left on Python 2's life, I'd rather not package still more things on it.  Would you consider a more current release which will include the python 3 support?

[2019-06-04 15:46] KiDwayne opened #265 "Permission Denied on different disk"
KCHVM0019E: Unable to start virtual machine UbuntuWorkMachine. Details: Cannot access storage file '/media/uuser/ssd/uwm040619.img' (as uid:64055, gid:129): Permission denied

I tried changing permissions , chown-ed the image to libvirt-qemu and kvm, but I still cant get it to stop saying permission denied. even changed the folder access to the same as /var/lib/libvirt/images
but the same error ab

[2019-06-10 16:51] alinefm commented on #263
Hi @the-maldridge !

Python3 support is already available in master branch. I am still working on new feature to justify a new release.

[2019-06-10 17:16] the-maldridge commented on #263
Hello @alinefm,

I understand the support is in master, however distribution policy states this is not a valid packaging source since there is no tag declaring it stable (Void operates on a policy that until a developer has explicitly tagged a release, they have not declared that their code is stable).

IMHO supporting a new language version is a major achievement and a serious milestone in the pr

[2019-06-10 19:43] alinefm commented on #262
Try to install/enable EPEL8 repo and run `dnf install python3-pam`:

https://linuxconfig.org/redhat-8-epel-install-guide

[2019-06-10 20:05] alinefm commented on #248
With current up to date code, wok does not depends on `fonts-font-awesome` anymore and it is working on Ubuntu 18.04.

[2019-06-10 20:05] #248 closed

[2019-06-12 17:03] hmhtb opened #266 "Unable to import package"
I'm using anaconda environment and I am unable to import packages because of this error? any clue?
"not authorized `package name' @ error/constitute.c/WriteImage/1028.

Ubuntu16.04
GPU2070 RTX

[2019-06-18 15:04] alinefm commented on #263
@the-maldridge I understand. Give me a couple of weeks and we will have a new release.

[2019-06-18 15:09] alinefm commented on #266
Hey @hmhtb !

I have never seen that before but I am not familiar with anaconda environment either so I don't think how much I can help on it.

[2019-06-18 16:06] alinefm commented on #257
According to https://packages.debian.org/stretch/python/, you might need to install `python3-pampy` and `python3-ldap3`.

Let me know if that works.

[2019-06-18 18:11] hmhtb commented on #266
Thanks for the response, The problem solved, I did not import python before importing the package.
#
import python
import tensorflow as tf

[2019-06-18 19:19] alinefm commented on #266
I am glad to know it is working! I will close this issue then.

[2019-06-18 19:19] #266 closed

[2019-06-26 23:26] the-maldridge commented on #263
Cool, looking forward to it!

[2019-07-13 19:22] Petros99 opened #267 "plugins not detected when running from source"
After building Kimchi from source from within the git submodule directory in wok, following directions from https://github.com/kimchi-project/kimchi#build-and-install and https://github.com/kimchi-project/wok/wiki/How-to-Work-with-Wok-Submodules, the wok interface does not show the plugins as available. Is there a missing step to connect the plugins to wok, or should I wait for the next release?

[2019-07-31 11:18] Gardinero opened #268 "Update from release to current master"
Hello,
what has to be done to update a 2.5 release installation to the current master branch?

I am working on Ubuntu 18.

Thanks in advance.
Regards
Lars

[2019-08-03 15:13] formeroosid opened #269 "Error on start-up with Fresh Ubunti 18.04 install"
Hello. Followed the build instructions on a fresh install (Ubuntu pre-requisites, autogen, make, sudo make install, etc.). When I attempt to start the Wok server, I get this:

`jgordon@gus:~/wok/src$ sudo python ./wokd
Traceback (most recent call last):
  File "./wokd", line 30, in <module>
    import wok.server
  File "/home/jgordon/wok/src/wok/server.py", line 171
    ident = f'/{ident}'

[2019-08-22 11:05] MaxPayneFH opened #271 "No module named 'PAM'"
[Duplicate of issue 262, because I could not comment on an existing issue]

Hello,
I'm experiencing the same issue on Fedora 29 when building from source.

`sudo pip3 install python-pam
WARNING: Running pip install with root privileges is generally not a good idea. Try `pip3 install --user` instead.
Requirement already satisfied: python-pam in ./python3.7/site-packages (1.8.4)
`

`
sudo dnf instal

[2019-08-27 14:30] #271 closed

[2019-08-28 05:38] Usalabs opened #272 "WoK user activity is overloaded."
There is no option to clear the activity log, and now it shows at the bottom, 1,500 pages, is there a file somewhere that stores the log for the page to read?  If so, where is it so I can clear the file, or can a button be added next to the refresh button to clear the log when it gets to big?

[2019-08-28 15:31] #269 closed

[2019-08-29 11:15] Fantu opened #273 "Ubuntu/debian deps missed or not updated"
Hi, I build Wok and Kimchi from git on ubuntu 18.04, I followed the docs but wokd didn't started for missed things.
First was:
`ModuleNotFoundError: No module named 'Cheetah'`
because in ubuntu-runtime-deps.list python-cheetah must be changed in python3-cheetah (in ubuntu 18.04 is missed, so I installed with pip3)
Second was:
`ImportError: cannot import name 'Draft7Validator'`
Because require json

[2019-08-30 15:03] alinefm commented on #273
Thank for reporting it, @Fantu

I will update the docs accordingly.
I am in the process to validate the latest python3 changes on the most common Linux distribution and any help is more than welcome.
So if you want to give it a try on Debian 9 and report any issues you find, I'd very glad.

And you don't need to apologize about your English at all. :-)

[2019-08-30 15:34] alinefm commented on #252
Fixed by 832a2d3c26

[2019-08-30 15:34] #252 closed

[2019-08-30 19:09] Fantu commented on #273
debian 9 seems that have too many requirements missed for the new version, I'll try with debian 10 if I'll use it

[2019-09-01 05:44] Usalabs opened #274 "Firefox IE, and Chrome will not load WoK"
This is the result when either Firefox or Chrome tries to open the WoK interface:-

Secure Connection Failed

          An error occurred during a connection to 192.168.0.160:8001.

Cannot communicate securely with peer: no common encryption algorithm(s).

(Error code: ssl_error_no_cypher_overlap)

  The page you are trying to view can not be shown because the authenticity of the received data cou

[2019-09-04 10:00] Fantu opened #275 "Some localized text strings missed on po files"
Hi I did a fast update of italian language (https://github.com/Fantu/wok/commit/99f94d0e10ec4f0af9cc5279c6110ed3ae26ae0d free to take the patch and apply it if you think it useful) and testing it (rebuilding 2.5 package) I found that there are some text strings missed in the po file, for example "User Name" and "Log in" of login page, "Activity Log" of menu, "Plugin description" ecc...

[2019-09-20 22:10] alinefm commented on #25
Hi @Fantu

Thank you for the initiative to get Kimchi into debian!

I will take a look on this.

Will it be added or not?

It is only for development purposes. We don't need to include them as part of the debian package.

I will take a look.

[2019-09-25 17:06] Fantu commented on #25
small update: python-jsonschema 3 was prepared and uploaded into experimental today but blocked by python-pyrsistent dep missed in NEW queue since 7 months, after was reuploaded also python-pyrsistent without python2 part and I suppose will be acceptedbut I do not know when

[2019-10-23 15:33] Alterjero opened #278 "web page wok access problem"
hi
i have install kimchi wok and ginger, 3 day ago in ubunu 18.04.

and when i try install again today with the same method i can't see my web page with https://Server_IP:8001 in the same saidbox machine (with same ubuntu)

but service wok said:
● wokd.service
   Loaded: not-found (Reason: No such file or directory)
   Active: active (running) since Wed 2019-10-23 16:45:59 CEST; 23min ago
 Main PI

[2019-10-23 15:34] Alterjero commented on #278
in the page is have

The waiting period is exceeded

(sorry for my bad english and google trad)

[2019-10-26 02:31] khushil opened #279 "Curious missing dependency on websockify"
I'm getting the following after following the instructions. The module is definitely installed...

root@viola:/etc/nginx/conf.d# service wokd status
● wokd.service - Wok - Webserver Originated from Kimchi
   Loaded: loaded (/lib/systemd/system/wokd.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/wokd.service.d
           └─kimchi.conf
   Active: failed (Result: exit-code)

[2019-10-28 15:02] Alterjero opened #280 "Can't run wokd"
i follow Getting Started for install wok in https://github.com/kimchi-project/wok/#getting-started but i have

oct. 28 15:52:33 ubuntu wokd[40413]:     import wok.server
oct. 28 15:52:33 ubuntu wokd[40413]:   File "/usr/lib/python3.6/site-packages/wok/server.py", line 28, in <module>
oct. 28 15:52:33 ubuntu wokd[40413]:     from wok import auth
oct. 28 15:52:33 ubuntu wokd[40413]:   File "/usr/lib

[2019-10-28 15:51] Alterjero commented on #280
i try import Cheetah in pip3 but

sudo -E -H pip3 install python3-cheetah
Collecting python3-cheetah
Exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/usr/lib/python3/dist-packages/pip/commands/install.py", line 353, in run
    wb.build(autobuilding=True)
  File "/usr/lib/python3

[2019-10-29 13:16] #195 closed

[2019-10-31 14:23] alinefm commented on #263
Just an update, it is taking longer than I expected due to some personal matters but I am working on it when time permits.

[2019-11-10 11:36] scorpio2k2 opened #281 "wok/kimchi on centos 8?"
Hi,
is this still maintained?
When do you think we can use it on cent8?

[2019-11-10 13:39] SvenRoederer commented on #281
https://github.com/kimchi-project/wok/issues/263#issuecomment-548399993

[2019-11-13 15:36] Alterjero commented on #280
i try install kimchi with http://www.ubuntuboss.com/ubuntu-server-18-04-as-a-hypervisor-using-kvm-and-kimchi-for-vm-management/ and the other computer
and is good
problème solve

[2019-11-13 15:36] #280 closed

[2019-11-13 15:38] Alterjero commented on #278
the problème is firefox
i don't know why but when i try with chrome or firefox in the other computer is good

[2019-11-13 15:38] #278 closed

[2019-11-14 07:33] owenschris commented on #274
Using chrome, try the "Advanced" option here if you just want to get things up and running. Otherwise, you'll need to generate the cert and change the browser setting which allows the self-signed cert to be used. See https://stackoverflow.com/a/15076602 for more details.

[2019-11-21 02:39] alinefm commented on #281
hey @scorpio2k2

I am working a new release which will use python3 and it should be out soon. I don't guarantee I will have enough time to test on CentOS8 but it will be tested on Fedora 31 for sure and then, hopefully it will also work fine in CentOS8. Once this new release is out, I' d appreciate if you can test on CentOS8 and provide feedback on it

[2019-11-21 08:33] scorpio2k2 commented on #281
Hi,

I will test it. Just let me know

[2019-11-21 15:09] Alterjero opened #282 "i can't write in azerty with my french keyboard"
hi,
When i use novnc for my vm, at kimchi in ubuntu 18, my computer is in azerty but in my vm i'm in qwerty.
I have see the novnc forder in /usr/share/novnc/include/input.js
but i don't know what change.
if someone can help.
thx

[2019-12-02 15:20] Alterjero commented on #282
when i do
The xml file is located in "/etc/libvirt/qemu/vm-name.xml"
I changed the Line
From:
graphics type='vnc' port='-1' autoport='yes' listen='127.0.0.1'
To:
graphics type='vnc' port='-1' autoport='yes' listen='127.0.0.1' keymap='fr'

and restarted libvirt-bin.

is good but i will change line when i create VM.
is posible automate that?
thx for help

[2019-12-05 00:14] alinefm commented on #240
Closing this ticket as duplicated of kimchi-project/kimchi#1232

[2019-12-05 00:14] #240 closed

[2019-12-05 03:37] alinefm commented on #219
Closing this issue as it as fixed by #151

[2019-12-05 03:37] #219 closed

[2019-12-07 03:31] ABotelho23 commented on #281
I'd also volunteer to test this out. I have a new environment I'd like to setup which is not particularly time-sensitive.

[2019-12-10 21:41] hannonq opened #287 "Nginx throws Bad Request"
**Describe the bug**
I followed [this guide](http://www.ubuntuboss.com/ubuntu-server-18-04-as-a-hypervisor-using-kvm-and-kimchi-for-vm-management/) to install Kimchi on Ubuntu Server 18.04, but when I try to access https://<server-address>:8001/, I get 400 Bad Request from Nginx.

One thing worth mentioning is that I had to tell Nginx to listen to port 89 instead of the default 80, because I alrea

[2019-12-19 10:54] Alterjerof commented on #282
what is the file that generate /etc/libvirt/qemu/vm-name.xml ?
thx

[2019-12-28 14:01] scorpio2k2 commented on #281
Update: You can build release 3.0 on redhat8.
You just need to use Fedora 28 repos to install missing packages like python3-websockify,novnc,etc

[2019-12-28 21:47] scorpio2k2 commented on #287
Try to install all dependencies.  I had the same issue on Centos.
Apparently the compiled packages don't try to resolve dependencies.

[2020-01-10 23:31] maddis4free opened #290 "Is there any chance to get gingerbase working on wok 3.0?"
i need this fantastic dashboard.

thnx

[2020-01-11 19:45] maddis4free opened #291 "HOST Tab not shown in Wok 3.0"
I installed Wok/Kimchi 3.0 several times on a debian 10.

Wok & Virtualization tabs are shown as expected, but "Host" is missing. :(

![screenshot](https://user-images.githubusercontent.com/30572357/72209834-3c14ae00-34b3-11ea-88b4-108ff6ba1704.JPG)

[2020-01-13 23:06] #290 closed

[2020-01-13 23:07] maddis4free commented on #290
sorry, wrong subproject for my question

[2020-01-13 23:07] #291 closed

[2020-01-13 23:08] maddis4free commented on #291
sorry, its my fault and no bug...

[2020-01-21 01:15] alinefm commented on #279
Hey @khushil

could you try Wok 3.0? https://github.com/kimchi-project/wok/releases/tag/3.0.0

[2020-01-24 16:42] philrigby opened #295 "Missing "Virtualization" tab"
**Describe the bug**
After logging into Wok, there is no Virtualization tab.

Ubuntu 19.10, Wok 3.0.0, Kimchi 3.0.0
I followed the Ubuntu steps from this page for installation:
https://github.com/kimchi-project/kimchi/releases

The virtualization on my system works, in fact I'm typing this report in a guest VM running on the Ubuntu server.

~# virsh list --all
 Id   Name      State
---------------

[2020-01-27 18:28] alinefm commented on #295
Hey @philrigby

Could you paste the output of the command: `pip3 search ipaddr` ?

`ipaddr` should be installed when running `sudo -H pip3 install -r https://raw.githubusercontent.com/kimchi-project/kimchi/master/requirements-UBUNTU.txt `

I am also in Ubuntu 19.10 and I have the following:

`alinemanera@nested-virt:~$ cat /etc/issue
Ubuntu 19.10 \n \l

alinemanera@nested-virt:~$ pip3 search ipadd

[2020-01-27 19:08] philrigby commented on #295
Hi @alinefm ...
It was not installed, I went ahead and installed it, restarted wokd and that appears to of fixed it, thank you very much :-)

Phil.

[2020-01-30 14:30] Alterjerof commented on #282
same issue
#1292

[2020-02-06 10:00] Hydzix opened #296 "Can't access the wok page."
Hi.

Yesterday i installed the wok and kimchi and all was working fine. Today i cant access the wok page using my server_ip:8001. I got message this page is unavaliable.

Im using it on Ubuntu Server 18.04. I tried to access it via Chrome, Firefox and Edge.

[2020-02-06 10:10] Hydzix commented on #296
The message in wok log says:

[2020-02-06 10:37] Hydzix commented on #296
Ok, so I restarted every service and then started wok  with "wokd --environment=development"
And it works again.

[2020-02-06 17:07] jdevzero opened #297 "Issues on Centos 7 Python 3.6"
I'm trying my hardest to make Wok 3.0 wok on Centos7 and there are a few issues.

1. ldap has been renamed to ldap3 this can be fixed by adding the below line to auth.py
try:
    import ldap
except ModuleNotFoundError:
    import ldap3 as ldap

Making the above change will boot up wokd but when browsing to it this error is thrown.

Traceback (most recent call last):
  File "/usr/local/lib64/python

[2020-03-19 11:10] apolenary commented on #291
Hello,

maddis4free, What is the issue?
I have the same issue on debian 10. There are Wok & Virtualization tabs but there is not Host tab.

[2020-03-29 12:31] Chewbaka69 commented on #291
Same on debian 10....

[2020-03-29 12:35] Chewbaka69 commented on #227
Kimchi in debian 9 is not installable, because python3-ldap is missing you need to do a dist-upgrade to debian 10

[2020-03-29 12:47] Chewbaka69 opened #298 "Host Tab Missing"
I installed Wok 3.0, Ginger-Base 2.3.0 and Ginger 2.4.0 several times on a Debian 10.

Wok tab is shown as expected, but "Host" is missing. :(

**Server :**
 - OS: Debian 10
 - Browser Firefox
 - Version 75.0b10 (64 bits)

![wok](https://image.prntscr.com/image/oB4w65cHQiSt8ic-F5cSHA.png)

vi /var/log/wok/wok-error.log
[code]

[2020-03-29 13:03] maddis4free commented on #291
i think, the missing host-tab is caused by a missing gingerbase-3.0 plugin.

ergo: no plugin -> no tab

[2020-03-30 20:32] mww012 commented on #298
+1.  Also seeing this issue.  Wok and Virtualization tabs are good but Host is missing.

[2020-04-07 01:00] davystrong opened #299 "Can't get wok to work with kimchi in Ubuntu 20.04"
Hi,
I tried to install wok/kimchi in Ubuntu 20.04, however it fails to read the default config with the error ```Failed to load plugin conf from /home/<user>/Downloads/wok/src/wok/plugins/kimchi/kimchi.conf: ("Config error in section: 'wok', option: 'enable', value: 'True'. Config values must be valid Python.", 'TypeError', ("unrepr does not recognize 'Constant'",))```
I don't understand the error

[2020-04-07 04:01] davystrong commented on #299
This seems to be an issue with the cherrypy unrepr function. According to the [the docs](https://docs.python.org/3/library/ast.html), AST now returns AST.Constant for all types in Python 3.8, and I believe this is causing the problem.
Should I close this issue, since it's not specifically a problem with wok?

[2020-04-10 07:24] Alterjerof commented on #298
+1 but i think is the issue, "ginger 3.0 ?"
https://github.com/kimchi-project/gingerbase/issues/172

[2020-04-19 11:37] murugeshg commented on #299
I there any work around for this issue?

[2020-04-19 12:01] davystrong commented on #299
I managed to get Kimchi (and therefore get around this issue) working by doing [this](https://github.com/kimchi-project/kimchi/issues/1318#issuecomment-610583198). Hope this helps

[2020-04-19 13:48] murugeshg commented on #299
Hi davystrong, your work around resolved the error.

[2020-04-19 13:48] murugeshg commented on #299
Thank you

[2020-04-20 03:27] wolffstarr opened #300 "Ubuntu 20.04 - Cannot install Wok - Package 'python-m2crypto' has no installation candidate"
When attempting to install the listed dependencies for Wok on the wiki for install instructions under Ubuntu 20.04, I am getting the following error:

`wolffstarr@nike:~$ sudo apt install systemd logrotate python3-psutil python3-ldap python3-lxml python3-websockify python3-jsonschema openssl nginx python3-cherrypy3 python3-chee
tah python3-pam python-m2crypto gettext python3-openssl
Reading packag

[2020-04-20 15:07] #298 closed

[2020-04-26 13:22] NZLostboy commented on #300
Having the same issue, definitely not hardware related. Probably due to Ubuntu removing python2 stuff for version 20.

[2020-04-26 22:29] jsandorski commented on #300
I worked around this issue by manually editing the dependencies of the deb package. This helped me a lot:
https://forums.linuxmint.com/viewtopic.php?t=35136

Changed python-m2crypto to python3-m2crypto

I do not see the virtualization tab in wok yet, though. Working on it ...

[2020-04-27 23:08] NZLostboy commented on #300
Yeah saw that, I built from source and Wok starts up and runs but can't see the virtualization tab either. Haven't had time to go back to it

[2020-05-26 21:21] NZLostboy commented on #299
Did you ever get NoVNC working? I am currently trying to trouble shoot it. I got Wok and Kimchi installed on Ubuntu 20 and everything seems to work except the NoVNC console

[2020-05-26 22:38] davystrong commented on #299
Strangely noVNC was working initially, however it isn't any more. I don't have time to look at this at the moment but if you find a solution, I'd be interested.

[2020-06-15 16:26] dongfanglong2012 opened #303 "kimchi on ubuntu 20 dependencies"
I am trying to install kimchi on ubuntu 20 but i cant seem to figure out how to make the dependencies work. I'm guessing its a python2 python3 problem but I don't know how to fix it.

used the commands from
https://github.com/kimchi-project/wok/releases/tag/3.0.0

result
`
bob@bob:~$ sudo apt install -y ./wok-3.0.0-0.ubuntu.noarch.deb
Reading package lists... Done
Building dependency tree
Reading

[2020-06-15 19:34] dongfanglong2012 commented on #303
ok disregard im a dingus. i was running the install on the kimchi-2 not kimchi-3. I still dont have a virtualization tab but it is installed

[2020-06-15 19:54] #303 closed

[2020-06-15 19:59] dongfanglong2012 opened #304 "ubuntu 20 no virtualization tab"
I have installed wok kimchi and ginger-base after editing the .deb to have pyrhon3 where needed. I  kept finding in various places that doing so would fix the dependencies problem on ubuntu 20. The wok page does load just fine and there are no errors. I also changed the "/etc/kimchi/template.conf" file to point to images as mine is not default. I still have not virtualization tab though. I don't k

[2020-06-15 21:36] dongfanglong2012 commented on #304
found some more info from `sudo python3 /bin/wokd --environment=dev`
https://pastebin.com/mZzsa5S8

this line is odd to me.
("Config error in section: 'wok', option: 'enable', value: 'True'. Config values must be valid Python.", 'TypeError',

because the file has `enable = True` and last i checked that is a valid command in python. i even tested it locally and it works. So im not sure what it mean

[2020-07-06 17:57] joaoguariglia commented on #303
## Ubuntu 20.04 On Raspberry 4 8GB ##
# wget http://ftp.us.debian.org/debian/pool/main/m/m2crypto/python-m2crypto_0.31.0-4_arm64.deb
# apt install gdebi nginx
# gdebi python-m2crypto_0.31.0-4_arm64.deb
https://github.com/kimchi-project/kimchi/releases/tag/3.0.0
# apt install -y ./wok-3.0.0-0.ubuntu.noarch.deb
# apt install -y python3-pip pkg-config libnl-route-3-dev
# wget https://raw.githubuserco

[2020-07-23 05:41] HendryLeo commented on #299
my solution is to

1. sudo apt-get remove python3-cherrypy3
2. sudo pip3 install cherrypy

[2020-08-12 05:25] slackernetuk opened #305 "kimchi-project / wok on non-systemd systems?"
Hiya,

I would like to know If I can install wok/kimchi on non-systemd systems?

In my case Slackware current.

cheers

[2020-08-25 04:28] rayzorben opened #306 "How does anyone get this working?"
I've tried 2 different distros. Ubuntu 20.04, Debian 10.

In both, I keep getting nginx failing to start.

In Debian building from source it asks me for a PEM pass phrase, and then just hangs there.

What is the best distro to use to get this running?

[2020-08-25 05:08] rayzorben commented on #306
Figured, hey, it says Ubuntu 19.10, maybe I should just go with that. Nope, same issue.

[code]

[2020-08-26 17:38] x1nni commented on #304
+1 on this. Just installed on Ubuntu 20.04 and I am getting the exact same error.

[2020-09-03 01:04] alinefm commented on #305
Hi @slackernetuk

You would need to install it from source code.

    git clone --recursive wok.git
    ./build-all.sh
    sudo make install

[2020-09-03 01:13] alinefm commented on #306
Could you run wok manually and paste here the output?

Instructions in here: https://github.com/kimchi-project/kimchi/wiki/Troubleshooting#virtualization-tab-was-not-loaded

[2020-09-04 15:16] schenkd commented on #273
Hello @alinefm,
currently it is not possible to install the packed version 3.0.0 under ubuntu 18.04 As already mentioned by @Fantu, the dependency python3-cheetah cannot be installed. This requires a workaround which consists of several steps:
* Install the dependency Cheetah via `pip3 install cheetah3`
* Remove the dependency from the .deb image
That this package is a required dependency it canno

[2020-09-09 03:05] kaboddy commented on #306
He can't even install it.  I'm having the same issue.  Looks like you might have posted to the wrong thingy - Saw the tab issue in another 'ticket'.

[2020-09-10 00:24] TheGreatGooo commented on #306
Had the same issue with the recent install script, the issue seems to be that the cert is generated by starting wokd. but nginx alredy references the cert before starting wokd.

Workaround here is start `service wokd start` wait some time till /etc/wok/wok-cert.pem is generated then resume the install.

[2020-09-15 00:28] #299 closed

[2020-09-15 00:30] alinefm commented on #299
I' ve just pushed a fix for the cherrypy Parser issue. I will release a 3.0.1 version soon that will have fully Ubuntu 20.04 support

[2020-09-22 17:59] infraengineer-sre opened #307 "Fedora32: cant start wokd - ModuleNotFoundError: No module named 'Cheetah"
**Run with Python**
[code]

**To Reproduce**
Build from source

`wok-3.0.0-3.git25c5b2a8.fc32.noarch`

[code]

**System**
 - OS: Fedora release 32 (Thirty Two)
 - Linux 5.8.4-200.fc32.x86_64 #1 SMP Wed Aug 26 22:28:08 UTC 2020 x86_64

[2020-09-28 22:18] fisimania commented on #304
+1 on this. I have the same error on Ubuntu 20.04.

[2020-09-30 08:35] nrdmtt commented on #304
Can you check /var/log/wok/wok-error.log to better understand the problem? I suspect it is something related to issue [1318](https://github.com/kimchi-project/kimchi/issues/1318)

[2020-09-30 08:37] nrdmtt commented on #307
Do you have python3-cheetah python-cheetah and installed?

[2020-09-30 10:16] fisimania commented on #304
Log says:
Failed to load plugin conf from /etc/wok/plugins.d/kimchi.conf: ("Config error in section: 'wok', option: 'enable', value: 'True'. Config values must be valid Python.", 'TypeError', ("unrepr does not recognize 'Constant'",))

If I change function "def build(self, o):" in "class _Builder3:" to
"def build(self, o):
        return o.value"
then kimchi plugin is loading, but noVNC is not wor

[2020-09-30 10:22] nrdmtt commented on #304
Yep, that is another problem with ubuntu 20 :)  All should be fixed with the next release.

If you are on a headless machine, see[ here](https://github.com/kimchi-project/kimchi/issues/1323#issuecomment-698899455) for a temporary workaround.

[2020-10-15 00:57] agus1985 opened #308 "fedora32 python3-pep8 is needed by wok-3.0.0-3.git25c5b2a8.fc32.noarch"
There is no python3-pep8 rpm for fedora32

[2020-10-30 01:40] piengeng opened #309 "python-m2crypto in wok-3.0.0-0.ubuntu.noarch.deb"
**Describe the bug**
`dpkg -I wok-3.0.0-0.ubuntu.noarch.deb` shows typo `python-m2crypto` instead of `python3-m2crypto`

**To Reproduce**
As above

**Expected behavior**
shows  `python3-m2crypto` when run `dpkg -I ` so that wok could be installed on Ubuntu 20.10

just sharing my workaround, in case anyone faced the same issue.
[code]

[2020-11-09 17:28] pmulgaonkar opened #310 "Virtualization tab does not show on CentOS 7"
**Describe the bug**
Installed kimchi and wok on centos 7 using the 2.5.0 distros.

Wok interface comes up but no virtualization tab.
systemctl status wokd shows:
[root@kimchi wok]# systemctl status wokd -l
● wokd.service - Wok - Webserver Originated from Kimchi
   Loaded: loaded (/usr/lib/systemd/system/wokd.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/wokd.service.d

[2020-11-13 19:55] pmulgaonkar commented on #310
Looks like the issue was that kvm was not running on the host system. Installing kvm-qemu resolved the issue.

[2020-11-13 19:55] #310 closed, assigned to nobody

[2020-11-29 22:05] NZLostboy commented on #309
I started on this a while back https://github.com/kimchi-project/wok/pull/302

The issue is that to continue including support for Ubuntu < 20 I am not sure how to do it.

It needs to use python-m2crypto for anything older and python3-m2crypto for Ubuntu 20 >

Feel free to drop a line on that pull request if you understand how it should be implemented, I don't have a good answer.

[2020-12-11 21:03] Omemanti commented on #300
lifesaver :)

that worked like a charm. and indeed, the virt tab. is still missing.

[2020-12-25 20:50] MauriceNorden opened #311 "Can't Nginx Reverse proxy Wok"
The setup:

192,168.2.6: Wok System (ubuntu 18.04)

192,168.2.15: nginx reverse proxy System (ubuntu 18.04)

**What's the plan**
I want to reverse proxy wok on another machine.
Is this even possible?

**Why**
I want to reverse proxy wok on another machine so i can host multipul applications on 1 ip

**What i tried so far**
I removed the ufw package on the nginx proxy machine and the wok machine
I

[2021-01-05 14:14] Pomdre commented on #309
Duplicate of #300

[2021-01-26 07:59] Fuquan999 commented on #299
Hi alinefm  + All,

May I ask is that version of 3.0.1 still in the making? If so would there be a possible public release date? And if that is still in the works would someone knowledgeable be able to follow it up with a Step-By-Step Ubuntu 20 tutorial (as the existing ones  are not straight forward and just do not seem to work problem free as there is even a video but the person [on detailed obs

[2021-01-28 07:55] turbin opened #312 "login as root was failure. the error message as "cannot determine user's tty ""
Hi, I have deployed wok on my debian 10 system, but it was failure login user as root.
the error message likes " pam_securetty(login:auth): cannot determine user's tty. "
if I login as a normal user, the virtualization configuration page was not displaying.

anyone would take  a look at this?
Thanks.

[2021-04-11 00:00] naamancampbell commented on #303
Thanks for logging issue - present on Ubuntu 20.10 and fixed with the `python-m2crypto` -> `python3-m2crypto` deb package fix.
https://github.com/kimchi-project/wok/issues/306#issuecomment-689894744 also required on Ubuntu 20.10

[2021-08-12 17:34] JoseGoncalves commented on #251
Outdated...

[2021-08-12 17:34] #251 closed

[2021-10-13 23:52] Markobu98 opened #314 "So I a, pretty new to all of this. However I got to install wok, I think and now I wanted to start wok but I get an error message"
**Describe the bug**
So I a, pretty new to all of this. However I got to install wok, I think and now I wanted to start wok but I get an error message

**To Reproduce**
Steps to reproduce the behavior:
I have followed all the steps. Then I typed "systemctl start wokd" and "journalctl -u wokd -f"

And the I get this message:

-- Logs begin at Thu 2021-10-14 01:13:34 CEST. --
Okt 14 01:48:17 marko-V

[2021-10-15 00:00] #314 closed, assigned to nobody

[2021-12-30 20:39] recentcoin opened #315 "Make .DEB = dependencies on old package names on Ubuntu Focal"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Download zip file for Gingerbase
2. Use the make process
3. Use make deb
4. Installer is broken looking for old deprecated dependencies like python-parted instead of python3-parted.

**Expected behavior**
Deb dependencies should be for current version

Ubuntu Focal

[2022-02-28 17:05] alphabet5 opened #316 "Package 'pyflakes' has no installation candidate"
**Describe the bug**
When running

[code]

The package `pyflakes` is unavailable.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the install instructions for Ubuntu.

**Expected behavior**

Packages install without error.

**Screenshots**

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 21.04